<form >

  <div class="input">
    <label>
      Name:
      <input name="name" type="text">
    </label>
  </div>
  <div class="input">
    <label>
      Surname:
      <input name="surname" type="text">
    </label>
  </div>
  <div class="input">
    <label>
      Birthday:
      <input name="birthday" type="text">
    </label>
  </div>
  <select name="" id="">
    <option value="">Choose framework</option>
    <option value="">Angular</option>
    <option value="">Vue</option>
    <option value="">React</option>
  </select>
  <select name="" id="">
    <option value="">Choose version</option>

  </select>
  <div class="input">
    <label>
      Email:
      <input type="email">
    </label>
  </div>
  <button type="submit">Submit</button>
</form>
